 @font-face
{
  font-family: 'Merriweather', serif;
}

#profile .portrait {
  background-image: url('../img/amanda.jpg');
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 0%;
  background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.50em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 10px 0;
}

#profile ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#collab {
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 150px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100px;
  height: auto;
}

#carousel {
    width: 100%;
    height: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

a,
h3.article-title a:hover {
  color: {{ .Get "link" }};
  text-decoration: none;
  transition: color 0.6s ease;
  font-size: 1.05rem;
}

.article-metadata {
  margin-bottom: 0;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgba(0,0,0,0.54);
  line-height: normal;
}

.article-title a {
  color: #3f51b5;
  transition: color 0.6s ease;
  line-height: 25px;
}

.media.stream-item {
  margin-bottom: 1rem;
}

h3.article-title {
  font-size: 1.75rem;
  line-height: 10px;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 0.9rem;
  color: #42a9e5;
}

.navbar-light .navbar-brand {
  font-family:  'Merriweather', serif;
  text-transform: none;
  font-weight: bold;
  font-size: 1.5em;
  color: {{ .Get "menu_title" }};
}

ul.share li a {
  background-color: #84C4FE;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}